# Build artifacts
*.obj
*.exe
*.pdb
*.ilk
*.user
*.opensdf
*.sdf
*.vcxproj.user
bin/
build/
OlympeBlueprintEditor
OlympeBlueprintEditorGUI
blueprint_test

# Third party libraries (downloaded at build time)
third_party/imgui/
third_party/imnodes/
